/* Body */
body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: hsl(217, 28%, 15%);
}

/* Footer */
.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}